<!DOCTYPE html>
<html>
<head>
  <title><%= Ride.admin_title %></title>
  
  <link rel="stylesheet" href="/assets/ride.css" />
  
  <%= javascript_include_tag :application %>

  <%= csrf_meta_tags %>
</head>
<body class="ride_admin">

  <div id="container">

    <div id="header">

      <div id="current_user">
        <% if current_user %>
          <p><%= current_user.email %></p>
          <p><%= link_to 'Sign Out', destroy_user_session_path %></p>
        <% end %>
      </div>

      <h1><%= Ride.admin_title  %></h1>
      <h2><%= request.host %></h2>


      <ul>
        <% #debugger %>
        <% Ride.admin_models.each do | mkey, m | %>

          <% #debugger %>

          <li><%= link_to m.ride_options[:admin_title], m.ride_options[:admin_link] %></li>

        <% end %>
      </ul>

      <div class="clear"></div>

    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer">
      <p></p>
    </div>

  </div>

</body>
</html>
