<!Doctype html !>
<html>

  <head>
  
  <link rel="stylesheet" href="/assets/ride.css" />
    
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  </head>  
  <body>
    <div id="sign_in_container">
      <h1><%= Ride.admin_title %></h1>
      <h2>Sign in</h2>
      <%= yield %>
    </div>
  </body>
</html>
