<%= form_for @enquiry, :html => {:enc_type => 'multipart/form-data'}, :builder => Ride::FormBuilder do |f| %>

  <%= render :partial => 'ride/shared/error_messages',  :locals => {:target => @enquiry} %>

  <p><%= raw f.field(:name)%></p>
  
  <p><%= raw f.field(:email)%></p>

  <p><%= raw f.field(:message, :type => 'text_area')%></p>

  <p><%= raw f.field(:i_tunes_code)%></p>
  
  <p><%= submit_tag %></p>

<% end %>

