<div class="section_header">
  <ul>
    <li><%= link_to 'New', {:controller => 'enquiries', :action => 'new'} %></li>
  </ul>

  <h1>Enquiries</h1>
</div>

<%= render :partial => 'ride/shared/flash_messages' %>

<% if @enquiries.length > 0  %>
  <%= will_paginate @enquiries, :previous_label => '&laquo;', :next_label => '&raquo;' %>
  <table class="admin">
    <% @enquiries.each do |e| %>
      <%= render :partial => 'ride/enquiries/row', :locals => {:enquiry => e} %>
    <% end %>
  </table>
<% else %>
  <p>You haven't had any enquiries yet</p>
<% end %>

