<%= form_for @home_page_image, :html => {:enc_type => 'multipart/form-data'}, :builder => Ride::FormBuilder do |f| %>

  <%= render :partial => 'ride/shared/error_messages',  :locals => {:target => @home_page_image} %>

  <p><%= raw f.field(:title)%></p> 

  <div class="field field_without_label">
    <p>Picture</p>
    <%= f.file_field :image %>
    <span class="description">Pictures can be JPG, GIF or PNG.</span>
    <br />
    <%= image_tag @home_page_image.image.url(:thumb) if @home_page_image.image.file? %>    
  </div>

  <p><%= submit_tag %></p>

<% end %>

