<h3><%= link_to home_page_image.title, {:controller => 'home_page_images', :action => 'edit', :id => home_page_image.id} %></h3>
<p><%= link_to raw(image_tag(home_page_image.image.url(:large))), {:controller => 'home_page_images', :action => 'edit', :id => home_page_image.id} if home_page_image.image.file? %></p>
<p><%= link_to 'delete', {:controller => 'home_page_images', :action => 'destroy', :id => home_page_image.id}, :method => 'delete' %></p>

