<div class="section_header">
  <ul>
    <li><%= link_to 'New', {:controller => 'home_page_images', :action => 'new'} %></li>
  </ul>

  <h1>Home Page Slideshow</h1>
</div>

<p>These are the pictures that shown in the slide show on the home page</p>

<%= render :partial => 'ride/shared/flash_messages' %>

<% if @home_page_images && @home_page_images.length > 0  %>
  <%= will_paginate @home_page_images, :previous_label => '&laquo;', :next_label => '&raquo;' %>
  <% @home_page_images.each do |h| %>
    <%= render :partial => 'ride/home_page_images/small', :locals => {:home_page_image => h} %>
  <% end %>
<% else %>
  <p>You haven't uploaded any images yet</p>
<% end %>

