<h1><%= @home_page_image.title %></h1>

<%= link_to 'edit', {:controller => 'home_page_images', :action => 'edit'} %>

<%= image_tag @home_page_image.image.url(:large) if @home_page_image.image.file? %>

