<%= form_for @home_page_post, :html => {:enc_type => 'multipart/form-data'}, :builder => Ride::FormBuilder do |f| %>

  <%= render :partial => 'ride/shared/error_messages',  :locals => {:target => @home_page_post} %>

  <p><%= raw f.field(:title)%></p>
  
  <p><%= raw f.field(:content, :type => 'text_area')%></p>
  
  <p><%= submit_tag %></p>

<% end %>

