<tr>
  <td><h3><%= link_to home_page_post.title, home_page_post %></h3></td>
  <td><%= home_page_post.created_at.to_s(:long) %></td>
  <td><%= link_to 'delete', {:controller => 'home_page_posts', :action => 'destroy', :id => home_page_post.id}, :method => 'delete' %></td>
</tr>

