<div class="section_header">
  <ul>
    <li><%= link_to 'New', {:controller => 'home_page_posts', :action => 'new'} %></li>
  </ul>

  <h1>Home Page Posts</h1>
</div>

<%= render :partial => 'ride/shared/flash_messages' %>

<% if @home_page_posts && @home_page_posts.length > 0  %>
  <table class="admin">
  <%= will_paginate @home_page_posts, :previous_label => '&laquo;', :next_label => '&raquo;' %>
  <% @home_page_posts.each do |h| %>
    <%= render :partial => 'ride/home_page_posts/row', :locals => {:home_page_post => h} %>
  <% end %>
  </table>
<% else %>
  <p>You have no posts set up</p>
<% end %>

