<%= form_for @product, :html => {:enc_type => 'multipart/form-data'}, :builder => Ride::FormBuilder do |f| %>

  <%= render :partial => 'ride/shared/error_messages',  :locals => {:target => @product} %>

  <p><%= raw f.field(:title)%></p>

  <p><%= raw f.field(:description, :type => 'text_area')%></p>

  <p><%= raw f.field(:amazon_purchase_url)%></p>

  <p><%= raw f.field(:itunes_purchase_url)%></p>

  <p><%= raw f.field(:cdbaby_purchase_url)%></p>

  <p><%= raw f.field(:paypal_purchase_url)%></p>

  <div class="field field_without_label">
    <p>Picture for this product</p>
    <%= f.file_field :image %>
    <span class="description">Pictures can be JPG, GIF or PNG.</span>
    <br />
    <%= image_tag @product.image.url(:thumb) if @product.image.file? %>

  </div>

  <p><%= submit_tag %></p>

<% end %>

