<tr>
  <td><%= link_to product.title, {:controller => 'products', :action => 'edit', :id => product.id} %></td>
  <td class="delete"><%= link_to 'delete', {:controller => 'products', :action => 'destroy', :id => product.id}, :method => 'delete' %></td>
</tr>

