<div class="section_header">
  <ul>
    <li><%= link_to 'New', {:controller => 'products', :action => 'new'} %></li>
  </ul>

  <h1>Products</h1>
</div>

<%= render :partial => 'ride/shared/flash_messages' %>

<% if @products.length > 0  %>
  <%= will_paginate @products, :previous_label => '&laquo;', :next_label => '&raquo;' %>
  <table class="admin">
  <% @products.each do |p| %>
    <%= render :partial => 'ride/products/row', :locals => {:product => p} %>
  <% end %>
  </table>
<% else %>
  <p>You have no products set up</p>
<% end %>

