<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if @current_user %>
    <%= @current_user.email %>
  <% end %>

<%= yield %>

</body>
</html>
