<% if target.errors.any? %>
  <div id="error_explanation">
    <h2>Error saving <%= target.singular_variable_name %></h2>

    <ul>
    <% target.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
