<h1>New Enquiry Received at <%= Ride.admin_title %></h1>

<p>Date: <%= @enquiry.created_at.to_date.to_s(:long_ordinal) %></p>
<p>From: <%= @enquiry.name %></p>
<p>Email: <%= @enquiry.email %></p>
<p>Message: <%= @enquiry.message %></p>



