html {margin: 0px; padding: 0px}
body {margin: 0px; padding: 0px; background-color: #303030; font-family: arial; font-size: 13px}

h1 {font-weight: 400;}

.clear {clear: both}

#container {width: 90%; margin: 0px auto}

#header {clear: both; background-color: #101010; color: white; margin: 0px; padding: 10px; padding-bottom: 5px;
    background-image: -moz-linear-gradient(center bottom, rgba(40, 40, 40, 1), rgba(20, 20, 20, 1));
}

#header h1 {padding: 0px; font-weight: 400; margin-bottom: 0px; text-shadow: -1px -1px 0 rgba(210, 210, 210, 0.2);}
#header h2 {padding: 0px; font-weight: 400; margin-top: 0px; margin-bottom: 25px; font-weight: 400; font-variant: italic; font-size: 16px; color: #d0d0d0}

.ride_admin #current_user {float: right; padding: 5px; 
    border-radius: 5px;
  background-color: #404040; font-size: 13px}
.ride_admin #current_user p {margin: 0px; padding: 2px 5px; text-align: right}
.ride_admin #current_user a {color: white; font-weight: 700; font-size: 12px}

#header ul {list-style: none; margin: 0px; padding: 0px; clear: both;}
#header ul li {list-style: none; float: left; margin: 0x; padding: 0px; margin-right: 10px}
#header ul li a {padding: 5px 20px; 
  border-radius: 5px 5px 0px 0px;
  background-color: #e0e0e0; font-size: 13px; color: #303030; text-decoration: none;
}

#header ul li a:hover {background-color: white}

#content {clear: both; padding: 10px; padding-bottom: 20px; background-color: white}

#footer {padding: 20px; background-color: #101010; color: white;
    border-radius: 0px 0px 20px 20px;
    background-image: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 1), rgba(20, 20, 20, 1));
}

.ride_admin a {color: #a03030; font-weight: 400; text-decoration: none}

.ride_admin input[type=submit] {padding: 10px 20px; font-size: 14px}

.ride_admin label {float: left; width: 150px; display: block}

.ride_admin .section_header {padding-top: 10px}
.ride_admin .section_header ul {margin: 0px; padding: 0px; list-style: none; clear: both;}
.ride_admin .section_header ul li {float: left; display: block; margin: 0px; padding: 0px; margin-bottom: 10px}
.ride_admin .section_header ul li a {padding: 5px 10px; border-radius: 5px; background-color: #f6f6f6}
.ride_admin .section_header ul li a:hover {background-color: #a0a0a0; color: white}

.ride_admin .section_header h1 {clear: both; margin-top: 20px; padding-top: 20px; border-top: 1px solid #f0f0f0}

.ride_admin table.admin {width: 100%; font-size: 14px}

.ride_admin table.admin tr:nth-child(2n+1) {background-color: #f0f0f0}
.ride_admin table.admin tr:hover {background-color: #fef4e0}
.ride_admin table.admin tr td {padding: 8px 5px}

/*
 * Flash notices
 */
div.flash_notice {padding: 5px 10px; margin-bottom: 20px; background-color: #fbfbfb; border-radius: 5px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2)}
/*
 * End flash notices
 */ 

/*
 * Form validations
 */ 
div#error_explanation {padding: 10px; background-color: #d06060; color: white; margin-bottom: 20px}
div#error_explanation h2 {}
div#error_explanation ul {list-style: none}

div.field_with_errors {}
div.field_with_errors input {border: 2px solid #d06060}
/*
 * End Form validations
 */ 


/*
 * Sign in page
 */
div#sign_in_container {width: 500px; margin: 0px auto; margin-top: 100px; background-color: #505050;
    border-radius: 15px; box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  padding: 10px; text-align: center;
}

div#sign_in_container h1 {background-color: #808080; margin: -10px; padding: 10px; margin-bottom: 0px; 
    border-radius: 15px 15px 0px 0px;
}
div#sign_in_container h2 {background-color: #808080; margin: -10px; padding: 10px; margin-bottom: 10px; padding-top: 0px} 

/*
 * End sign in page
 */ 



