<%= form_for @event, :html => {:enc_type => 'multipart/form-data'}, :builder => Ride::FormBuilder do |f|%>

  <%= render :partial => 'ride/shared/error_messages',  :locals => {:target => @event} %>

  <p><%= raw f.field(:title)%></p>
  
  <p><%= raw f.field(:description, :type => 'text_area')%></p>

  <p><%= raw f.field(:date) %></p>

  <p><%= raw f.field(:address, :type => 'text_area') %></p>

  <div class="field field_without_label">
    <p>Picture for this event</p>
    <%= f.file_field :image %>
    <span class="description">Pictures can be JPG, GIF or PNG.</span>
    <br />
    <%= image_tag @event.image.url(:thumb) if @event.image.file? %>
    
  </div>

  <p><%= submit_tag %></p>

<% end %>
