<tr>
  <td><%= link_to event.title, {:controller => 'events', :action => 'edit', :id => event.id} %></td>
  <td><%= event.date.to_s(:long) if event.date %></td>
  <td class="delete"><%= link_to 'delete', {:controller => 'events', :action => 'destroy', :id => event.id}, :method => 'delete'%></td>
</tr>
