<div class="section_header">
  <ul>
    <li><%= link_to 'New', {:controller => 'events', :action => 'new'}%></li>
  </ul>
  <h1>Events</h1>
</div>

<%= render :partial => 'ride/shared/flash_messages' %>

<% if @events.length > 0  %>
  <%= will_paginate @events, :previous_label => '&laquo;', :next_label => '&raquo;' %>
  <table class="admin">
    <% @events.each do |e| %>
      <%= render :partial => 'ride/events/row', :locals => {:event => e} %>
    <% end %>
  </table>
<% else %>
  <p>You have no events set up</p>
<% end %>
