    <div class="page_content">

      <div id="contact_form">

       <%= form_for @enquiry,:url => {:controller => 'static', :action => 'contact_submitted'}, :html => {:enc_type => 'multipart/form-data'}, :builder => Ride::FormBuilder do |f| %>

          <p><%= raw f.field(:name)%></p>
          
          <p><%= raw f.field(:email)%></p>

          <p><%= raw f.field(:message, :type => 'text_area')%></p>

          <p>If you have bought the album on iTunes and want your free download, please enter the iTunes code below</p>

          <p><%= raw f.field(:i_tunes_code)%></p>
          
          <p><%= submit_tag 'Send' %></p>

        <% end %>

      </div>

    </div>

