<%= form_for @page, :html => {:enc_type => 'multipart/form-data'}, :builder => Ride::FormBuilder do |f|%>

  <%= render :partial => 'ride/shared/error_messages',  :locals => {:target => @page} %>

  <p><%= raw f.field(:title)%></p>
  
  <p><%= raw f.field(:description, :type => 'text_area')%></p>

  <p><%= raw f.field(:url)%></p>

  <p><%= submit_tag %></p>

<% end %>
