<tr>
  <td><%= link_to page.title, page %></td>
  <td><%= page.url %></td>
  <td class="delete"><%= link_to 'delete', {:controller => 'pages', :action => 'destroy', :id => page.id}, :method => 'delete'%></td>
</tr>
