<div class="section_header">
  <ul>
    <li><%= link_to 'New', {:controller => 'pages', :action => 'new'}%></li>
  </ul>

<h1>Pages</h1>
</div>

<%= render :partial => 'ride/shared/flash_messages' %>

<% if @pages.length > 0  %>
  <%= will_paginate @pages, :previous_label => '&laquo;', :next_label => '&raquo;' %>
  <table class="admin">
  <% @pages.each do |p| %>
    <%= render :partial => 'ride/pages/row', :locals => {:page => p} %>
  <% end %>
  </table>
<% else %>
  <p>You have no pages set up</p>
<% end %>
