<h3><%%= link_to <%= name.singularize.underscore%>.title, <%= name.singularize.underscore%> %></h3>
<p><%%= link_to 'delete', {:controller => '<%= name.pluralize.underscore%>', :action => 'destroy', :id => <%= name.singularize.underscore%>.id}, :method => 'delete' %></p>

