<div class="section_header">
  <ul>
    <li><%%= link_to 'New', {:controller => '<%= name.pluralize.underscore %>', :action => 'new'} %></li>
  </ul>

  <h1><%= name.pluralize.humanize %></h1>
</div>

<%% if @<%= name.pluralize.underscore%>.length > 0  %>
  <%% @<%=name.pluralize.underscore%>.each do |<%=name[0,1].downcase%>| %>
    <%%= render :partial => 'ride/<%=name.pluralize.underscore%>/small', :locals => {:<%=name.singularize.underscore%> => <%=name[0,1].downcase%>} %>
  <%% end %>
<%% else %>
  <p>You have no <%=name.pluralize.humanize.downcase%> set up</p>
<%% end %>

