<%= form_for @media_link, :html => {:enc_type => 'multipart/form-data'}, :builder => Ride::FormBuilder do |f| %>

  <%= render :partial => 'ride/shared/error_messages',  :locals => {:target => @media_link} %>

  <p><%= raw f.field(:title)%></p>
  
  <p><%= raw f.field(:description, :type => 'text_area')%></p>

  <p><%= raw f.select_field(:type, Ride::MediaLink.select_options)%></p>

  <p><%= raw f.field(:url)%></p>

  <div class="field field_without_label">
    <p>
    <label for='media_link_image'>Picture for this link</label>
    <%= f.file_field :image %>
    <span class="description">Pictures can be JPG, GIF or PNG.</span>
    </p>
    <p><%= image_tag @media_link.image.url(:thumb) if @media_link.image.file? %></p>
    
  </div>

  <p><%= submit_tag %></p>

<% end %>

