<tr>
  <td><%= link_to media_link.title, {:controller => 'media_links', :action => 'edit', :id => media_link.id} %></td>
  <td><%= media_link.type_title %></td>
  <td class="delete"><%= link_to 'delete', {:controller => 'media_links', :action => 'destroy', :id => media_link.id}, :method => 'delete' %></td>
</tr>

