<h3><%= link_to media_link.title, {:controller => 'media_links', :action => 'show', :id => media_link.id} %></h3>
<p><%= link_to 'delete', {:controller => 'media_links', :action => 'destroy', :id => media_link.id}, :method => 'delete' %></p>

