<div class="section_header">
  <ul>
    <li><%= link_to 'New', {:controller => 'media_links', :action => 'new'} %></li>
  </ul>

  <h1>Medialinks</h1>

</div>

<%= render :partial => 'ride/shared/flash_messages' %>

<% if @media_links.length > 0  %>
  <%= will_paginate @media_links, :previous_label => '&laquo;', :next_label => '&raquo;' %>
  <table class="admin">
  <% @media_links.each do |m| %>
    <%= render :partial => 'ride/media_links/row', :locals => {:media_link => m} %>
  <% end %>
  </table>
<% else %>
  <p>You have no medialinks set up</p>
<% end %>

